$baseColor : scale-lightness(#e67e22, -4%);
$blackColor	: #212121;
/* 
 * nav
 */

$bgDefault      : scale-lightness(#fff, -3%);
$bgHighlight    : $bgDefault;
$colDefault     : #000;
$colHighlight   : $baseColor;

/* 
 * news
 */

$titleColor	: $blackColor;
$dateColor	: scale-lightness($titleColor, 50%);