$baseColor	: #ce0808;
$blackColor	: #212121;
/* 
 * nav
 */

$bgDefault      : scale-lightness(#fff, -3%);
$bgHighlight    : $bgDefault;
$colDefault     : #000;
$colHighlight   : $baseColor;

/* 
 * news
 */

$titleColor	: $blackColor;
$dateColor	: scale-lightness($titleColor, 50%);