@import "compass";
@import "variables";
@import "navbar";

@include font-face("roboto", 
					font-files("Roboto-Regular-webfont.woff",
								"Roboto-Regular-webfont.ttf",
								"Roboto-Regular-webfont.svg"), 
								$eot: "Roboto-Regular-webfont.eot");
@include font-face("lato-thin", 
					font-files("Lato-Thin.woff",
								"Lato-Thin.woff2",
								"Lato-Thin.ttf"), 
								$eot: "Lato-Thin.eot");
@include font-face("lato", 
					font-files("Lato-Regular.woff",
								"Lato-Regular.woff2",
								"Lato-Regular.ttf"), 
								$eot: "Lato-Regular.eot");
body {
	#news {
		a.thumbnail {
			font-family: lato;
			border: 0;
			box-shadow: none;
			text-transform: uppercase;
			text-decoration: none;

			.articleImg {
				@include inline-block();
				img {
					margin-right: auto;
					margin-left: auto;
					display: block;
					max-width: 100%;
					height: auto;
				}
			}
	
			&:hover,&:visited,&:active {
				text-decoration: none;
			}

			&:hover {
				h3 {
					color: $baseColor !important;
				}
				.articleImg {
					background-color: scale-lightness($baseColor, 5%);

					img {
						@include opacity(0.6);
					}
				}
			}

			h3 {
				margin: 4px 2px;
				color: $titleColor;
			}

			.date {
				color: $dateColor;
				font-style: italic;
			}
		}
	}
	#slider {
		width: 100%;
		height: 650px;
		position: relative;
		#slideIndex {
			height: 20px;
			position: absolute;
			bottom: 20px;
			margin: 0 auto;
			@include inline-block();
			text-align: left;
			.indexRound {
				@include inline-block();
				width: 18px;
				height: 17px;
				border: 2px solid $baseColor;
				@include border-radius(20px);
				margin-right: 5px;
				&:last-child {
					margin: 0;
				}
				&.active {
					background-color: $baseColor;
				}
				&.inactive {
					cursor: pointer;
					&:hover {
						background-color: scale-lightness($baseColor, -10%);
					}
				}
			}
		}
		.glyphicon {
			position: absolute;
			color: #212121;
			font-size: 55px;
			top: 500px;
			padding: 10px;
			@include border-radius(55px);
			border: 8px solid transparent;

			&:hover {
				color: scale-lightness($baseColor, -25%);
				cursor: pointer;
				border: 8px solid $baseColor;
				top: 50%;
			}
			&.glyphicon-chevron-right {
				right: 5%;
			}
			&.glyphicon-chevron-left {
				left: 5%;
			}
		}
		#slideContainer {
			width: 66%;
			margin: 0 auto;
			position: relative;
			overflow: hidden;
			top: 45px;
			#slideContain {
				width: 100%;
				position: relative;
				height: 100%;
				.slide {
					@include inline-block();
					position: relative;
					height: 540px;
					width: 100%;
					background-image: url('https://media.mirrorsedge.com/content/www-mirrorsedge/en_US/news-articles/a-runners-destiny/_jcr_content/featuredImage/renditions/rendition1.img.jpg');
					background-repeat: no-repeat;
					@include background-size(cover);
					h4 {
						font-family: lato;
						text-transform: uppercase;
						color: white;
						width: 100%;
						background-color: $blackColor;
						margin-top: 0;
						text-align: center;
						@include opacity(0.85);
						padding: 10px 0;
						font-size: 25px;
					}
				}
			}
		}
	}
	#staff {
		.thumbnail {
			.caption {
				font-family: lato;
				height: auto;
				a {
					margin-bottom: 8px;
					@include inline-block();
					padding-right: 5px;
					img {
						width: 30px;
						height: 30px;
					}
				}
				h3 {
					margin-top: 0px;
					margin-bottom: 0px;
				}
				h4 {
					margin-top: 1px;
					padding-left: 5px;
					margin-bottom: 5px;
					font-size: 16px;
					font-style: italic;
				}
				span.desc {
					display: block;
					font-family: roboto;
				}
			}
		}
	}
}

@media only screen and (max-width : 992px) {
	#slider {
		#slideContainer {
			width: 100% !important;
		}

		.glyphicon-chevron-right {
			display: none;
		}
		.glyphicon-chevron-left {
			display: none;
		}
	}
}