@import "compass";
@import "compass/configuration";
@import "variables";
@import "navbar";

$compass-options: (fonts-path: absolute-path(join-file-segments("assets", "fonts")));
@include compass-configuration($compass-options);

@font-face {
  font-family: "roboto";
  src: url('/assets/fonts/Roboto-Regular-webfont.eot');
  src: url('/assets/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
   url('/assets/fonts/Roboto-Regular-webfont.woff') format('woff'), 
   url('/assets/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
   url('/assets/fonts/Roboto-Regular-webfont.svg') format('svg'); }
@font-face {
  font-family: "lato-thin";
  src: url('/assets/fonts/Lato-Thin.eot');
  src: url('/assets/fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'), 
  url('/assets/fonts/Lato-Thin.woff') format('woff'), 
  url('/assets/fonts/Lato-Thin.woff2') format('woff2'), 
  url('/assets/fonts/Lato-Thin.ttf') format('truetype'); }
@font-face {
  font-family: "lato";
  src: url('/assets/fonts/Lato-Regular.eot');
  src: url('/assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), 
  url('/assets/fonts/Lato-Regular.woff') format('woff'), 
  url('/assets/fonts/Lato-Regular.woff2') format('woff2'), 
  url('/assets/fonts/Lato-Regular.ttf') format('truetype'); }
body {
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 50px;
	a {
		margin-top: 50px;
		font-weight: bold;
		text-transform: uppercase;
		font-family: lato-thin;
		color: transparent;
		font-size: 17px;
		border: 1px solid transparent;
		@include border-radius(12px 0px);
		padding: 10px 20px;
		
		&:hover,&:visited,&:active {
			text-decoration: none;
		}

		&.buttonDownload {
			background-color: $baseColor;
			border-color: $baseColor;
			margin-right: 32px;
			&.hover {
				border-color: scale-lightness($baseColor, 8%);
				background-color: scale-lightness($baseColor, 8%);
			}
		}

		&.buttonMedia {
			border-color: scale-lightness($blackColor, 2%);
			//color: #000;
			&.hover {
				//color: #fff;
				background-color: scale-lightness($blackColor, 2%);;
			}
		}
	}
}