@import "compass";
@import "variables";
@import "navbar";

@include font-face("roboto", 
					font-files("Roboto-Regular-webfont.woff",
								"Roboto-Regular-webfont.ttf",
								"Roboto-Regular-webfont.svg"), 
								$eot: "Roboto-Regular-webfont.eot");
@include font-face("lato-thin", 
					font-files("Lato-Thin.woff",
								"Lato-Thin.woff2",
								"Lato-Thin.ttf"), 
								$eot: "Lato-Thin.eot");
@include font-face("lato", 
					font-files("Lato-Regular.woff",
								"Lato-Regular.woff2",
								"Lato-Regular.ttf"), 
								$eot: "Lato-Regular.eot");
body {
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	h2 {
		font-family: lato-thin;
		text-transform: uppercase;
		background-color: $baseColor;
		color: #fff;
		@include border-radius(25px 0px);
		padding: 10px 42px;
		@include inline-block();
		margin-bottom: 42px;
	}
	#discover {
		@include background-size(contain);
		background-repeat: no-repeat;
		width: 100%;
		height: 60vw;
		text-align: center;
		#discoverTxt {
			@include inline-block();
			text-align: left;
			font-family: lato;
			color: #46505a;
			margin-top: calc(30% - 244px);
			text-transform: uppercase;

			p {
				margin-bottom: 30px;
			}

			a {
				font-family: lato-thin;
				color: #fff;
				font-size: 17px;
				border: 1px solid transparent;
				@include border-radius(12px 0px);
				padding: 10px 20px;


				&.buttonDownload {
					background-color: $baseColor;
					border-color: $baseColor;
					margin-right: 32px;
					&:hover {
						border-color: scale-lightness($baseColor, 8%);
						background-color: scale-lightness($baseColor, 8%);
					}
				}

				&.buttonMedia {
					border-color: scale-lightness($blackColor, 2%);
					color: #000;
					&:hover {
						color: #fff;
						background-color: scale-lightness($blackColor, 2%);;
					}
				}
			}
		}
	}
	#news {
		a.thumbnail {
			font-family: lato;
			border: 0;
			box-shadow: none;
			text-transform: uppercase;
			text-decoration: none;

			.articleImg {
				@include inline-block();
				img {
					margin-right: auto;
					margin-left: auto;
					display: block;
					max-width: 100%;
					height: auto;
				}
			}
	
			&:hover,&:visited,&:active {
				text-decoration: none;
			}

			&:hover {
				h3 {
					color: $baseColor !important;
				}
				.articleImg {
					background-color: scale-lightness($baseColor, 5%);

					img {
						@include opacity(0.6);
					}
				}
			}

			h3 {
				margin: 4px 2px;
				color: $titleColor;
			}

			.date {
				color: $dateColor;
				font-style: italic;
			}
		}
	}
	#downloadRow {
		.thumbnail {
			font-family: roboto;
			background-color: $baseColor;
			padding: 0;
		}
		.caption {
			background-color: scale-lightness($baseColor, 10%);
			margin-bottom: 0;
			color: #fff;
			ul {
				list-style-type: none;
			}
		}
		img {
			width: 200px;
			height: 200px;
			padding: 0 25px;
		}
	}
	#slider {
		width: 100%;
		height: 650px;
		position: relative;
		#slideIndex {
			height: 20px;
			position: absolute;
			bottom: 20px;
			margin: 0 auto;
			@include inline-block();
			text-align: left;
			.indexRound {
				@include inline-block();
				width: 18px;
				height: 17px;
				border: 2px solid $baseColor;
				@include border-radius(20px);
				margin-right: 5px;
				&:last-child {
					margin: 0;
				}
				&.active {
					background-color: $baseColor;
				}
				&.inactive {
					cursor: pointer;
					&:hover {
						background-color: scale-lightness($baseColor, -10%);
					}
				}
			}
		}
		.glyphicon {
			position: absolute;
			color: #212121;
			font-size: 55px;
			top: 500px;
			padding: 10px;
			@include border-radius(55px);
			border: 8px solid transparent;

			&:hover {
				color: scale-lightness($baseColor, -25%);
				cursor: pointer;
				border: 8px solid $baseColor;
				top: 50%;
			}
			&.glyphicon-chevron-right {
				right: 5%;
			}
			&.glyphicon-chevron-left {
				left: 5%;
			}
		}
		#slideContainer {
			width: 66%;
			margin: 0 auto;
			position: relative;
			overflow: hidden;
			top: 45px;
			#slideContain {
				width: 100%;
				position: relative;
				height: 100%;
				.slide {
					@include inline-block();
					position: relative;
					height: 540px;
					width: 100%;
					background-image: url('https://media.mirrorsedge.com/content/www-mirrorsedge/en_US/news-articles/a-runners-destiny/_jcr_content/featuredImage/renditions/rendition1.img.jpg');
					background-repeat: no-repeat;
					@include background-size(cover);
					h4 {
						font-family: lato;
						text-transform: uppercase;
						color: white;
						width: 100%;
						background-color: $blackColor;
						margin-top: 0;
						text-align: center;
						@include opacity(0.85);
						padding: 10px 0;
						font-size: 25px;
					}
				}
			}
		}
	}
	#staffRow {
		.thumbnail {
			.caption {
				font-family: lato;
				height: auto;
				a {
					margin-bottom: 8px;
					@include inline-block();
					padding-right: 5px;
					img {
						width: 30px;
						height: 30px;
					}
				}
				h3 {
					margin-top: 0px;
					margin-bottom: 0px;
				}
				h4 {
					margin-top: 1px;
					margin-bottom: 5px;
					font-size: 16px;
					font-style: italic;
				}
				span.desc {
					display: block;
					font-family: roboto;
				}
			}
		}
	}

	footer {
		padding: 50px 0;
		margin-top: 100px;
		background-color: $baseColor;
		text-align: center;
		color: #fff;
		div {
			text-align: left;
			@include inline-block();
			p {
				margin-bottom: 2px;
			}
		}
	}
	a {
		color: #fff;
		font-weight: bold;
		&:link, &:hover, &:visited, &:active {
			text-decoration: none;
		}
		&:hover {
			
			color: scale-lightness($baseColor, -30%);
		}
	}
}
@media (min-width: 0px) and (max-width: 767px) {
	#discover {
		background-image: url(https://media.mirrorsedge.com/content/www-mirrorsedge/en_US/_jcr_content/components/hero_570bee91500d1/backgroundImageSet/small.img.jpg);
		height: 200vw !important;
	}
}

@media (min-width: 768px) {
	#discover {
		background-image: url(https://media.mirrorsedge.com/content/www-mirrorsedge/en_US/_jcr_content/components/hero_570bee91500d1/backgroundImageSet/medium.img.jpg);
	}
}

@media (min-width: 1024px) {
	#discover {
		background-image: url(https://media.mirrorsedge.com/content/www-mirrorsedge/en_US/_jcr_content/components/hero_570bee91500d1/backgroundImageSet/large.img.jpg);
	}
}

@media (min-width: 1362px) {
	#discover {
		background-image: url(https://media.mirrorsedge.com/content/www-mirrorsedge/en_US/_jcr_content/components/hero_570bee91500d1/backgroundImageSet/wide.img.jpg);
	}
}

		
@media only screen and (max-width : 992px) {
	#slider {
		#slideContainer {
			width: 100% !important;
		}

		.glyphicon-chevron-right {
			display: none;
		}
		.glyphicon-chevron-left {
			display: none;
		}
	}
}